<!DOCTYPE html>
<html>
    <head>
        <title>Small Foods - A Sample Exercise Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <nav>
            <div class="nav__container container">
                <img class="nav__logo" src="../images/smallfood_logo_small.png">
                <div class="nav__elements">
                    <div class="elements__container">
                        <button class="nav__dropdown__icon">
                            <hr>
                            <hr>
                        </button>
                        <ul class="nav__links">
                            <a href="#">The Perfect Protein</a>
                            <a href="#">DHA-Rich Omega-3</a>
                            <a href="#">Why Smallfoods?</a>
                            <a href="#">Our Story</a>
                        </ul>
                        <ul class="nav__links nav__links--sublink">
                            <a href="#">Roadmap</a>
                            <a href="#">FAQ</a>
                            <a href="#">Articles</a>
                            <a href="#">Get in Touch</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <header>
            <div class="header__main container">
                <img id="header__logo" src="../images/smallfood_logo2.png" >
            </div>
        </header>
        <div class="divider">
            <hr>
        </div>

    </body>
</html>