<!DOCTYPE html>
<html>
    <head>
        <title>Small Foods - A Sample Exercise Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <nav>
            <div class="nav__container container">
                <img class="nav__logo" src="../images/smallfood_logo_small.png">
                <div class="nav__elements">
                    <div class="elements__container">
                        <button class="nav__dropdown__icon">
                            <hr>
                            <hr>
                        </button>
                        <ul class="nav__links">
                            <a href="#">The Perfect Protein</a>
                            <a href="#">DHA-Rich Omega-3</a>
                            <a href="#">Why Smallfoods?</a>
                            <a href="#">Our Story</a>
                        </ul>
                        <ul class="nav__links nav__links--sublink">
                            <a href="#">Roadmap</a>
                            <a href="#">FAQ</a>
                            <a href="#">Articles</a>
                            <a href="#">Get in Touch</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <header>
            <div class="header__main container">
                <img id="header__logo" src="../images/smallfood_logo2.png" >
            </div>
        </header>

        <div class="divider-right">
        </div>
        <section class="container" id="section-1">
            <div class="section__text">
                <h2 class="section__header section__header--large">Transforming How The World is Fed With Premium Algae-Based Ingredients.</h2>
            <p class="section__para section__para--large">We help sustainability-focused health food and supplement companies create nutritious, plant-based, environmentally-friendly products that customers love.</p>
            </div>
            
            <aside id="download-pdf">
                <div>
                    <h3 class="section__header sectioni__header--small">Download our Guide</h3>
                    <p class="section__para">10 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                <button id="download-pdf__button">Download Now</button>
                </div>
                <img src="../images/mock-pdf.jpg">
            </aside>
        </section>
        <div class="divider-left">
        </div>
        

    </body>
</html>