<!DOCTYPE html>
<html>
    <head>
        <title>Small Foods - A Sample Exercise Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <nav>
            <div class="nav__container container">
                <img class="nav__logo" src="../images/smallfood_logo_small.png">
                <div class="nav__elements">
                    <div class="elements__container">
                        <button class="nav__dropdown__icon">
                            <hr>
                            <hr>
                        </button>
                        <ul class="nav__links">
                            <a href="#">The Perfect Protein</a>
                            <a href="#">DHA-Rich Omega-3</a>
                            <a href="#">Why Smallfoods?</a>
                            <a href="#">Our Story</a>
                        </ul>
                        <ul class="nav__links nav__links--sublink">
                            <a href="#">Roadmap</a>
                            <a href="#">FAQ</a>
                            <a href="#">Articles</a>
                            <a href="#">Get in Touch</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <header>
            <div class="header__main">
                <img id="header__logo" src="../images/smallfood_logo2.png" >
            </div>
        </header>

        <div class="divider-top divider-top--left"></div>

        <section class="section section-landing">
            <div class="section-landing__text">
                <h2 class="title title--large section-landing__title">Transforming How The World is Fed With Premium Algae-Based Ingredients.</h2>
            <p class="paragraph paragraph--large section-landing__para">We help sustainability-focused health food and supplement companies create nutritious, plant-based, environmentally-friendly products that customers love.</p>
            </div>
            
            <aside class="section-landing-aside">
                <div class="section-landing-aside__container">
                    <h3 class="section-landing-aside__title title title--small">Download our Guide</h3>
                    <p class="section-landing-aside__para paragraph">10 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <button class="button section-landing-aside__button">Download Now</button>
                    <img class="section-landing-aside__img" src="../images/mock-pdf.jpg">
                </div>
            </aside>
        </section>  

        <div class="divider-bottom divider-bottom--right"></div>

        <section class="section section-main" id="section-2">
            <div class="section-main__text">
                <h2 class="title title--med">Solving The Food Sustainability Crisis.</h2>
                <div class="divider-top divider-top--section">
                    <p class="paragraph section-main__para">50-70 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.</p>
                </div>
                <div class="divider-bottom divider-bottom--section"></div>
            </div>
            <img src="../images/earth@2x.png" class="section-main__img"/>
        </section>

        <section class="section section-main" id="section-3">
            <div class="section-main__text">
                <h2 class="title title--med">Why Smallfood?</h2>
                <div class="divider-top divider-top--section">
                    <p class="paragraph section-main__para">50-70 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.</p>
                </div>
                <button class="section-main__button">Read more</button>
                <div class="divider-bottom divider-bottom--section" id="annoying"></div>
            </div>
            <aside class="section-main__aside">
                <h3 class="title title--small">Benefits.</h3>
                <ul class="section-main__list" >
                    <li class="paragraph paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                    <li class="paragraph paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                    <li class="paragraph paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                </ul>
                <div class="divider-bottom divider-bottom--section"></div>
            </aside>
        </section>

        <div class="section section-divider-img">
            <img src="../images/protein@2x.png" class="section-divider-img__img">
        </div>
        

        <section class="section section-main" id="section-4">
            <div class="section-main__text">
                <h2 class="title title--med">The Perfect Protein.</h2>
                <div class="divider-top divider-top--section">
                    <p class="paragraph section-main__para">50-70 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.</p>
                </div>
                <button class="button section-main__button">Read more</button>
                <div class="divider-bottom divider-bottom--section" id="annoying"></div>
            </div>
            <aside class="section-main__aside">
                <h3 class="title title--small">Benefits.</h3>
                <ul class="section-main__list" >
                    <li class="paragraph paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                    <li class="paragraph paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                    <li class="paragraph paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                </ul>
                <div class="divider-bottom divider-bottom--section"></div>
            </aside>
        </section>

        <section class="section section-main-icons">
            <div class="section-main-icons__container">
                <img class="section-main-icons__img" src="../images/icon-thumb.png">
                <p class="paragraph">Grow.</p>
                <h3 class="title title--med">120% more than the average</h3>
            </div>
            <div class="section-main-icons__container">
                <img class="section-main-icons__img" src="../images/icon-recycle.png">
                <p class="paragraph">Maintain.</p>
                <h3 class="title title--med">120% more than the average</h3>
            </div>
            <div class="section-main-icons__container">
                <img class="section-main-icons__img" src="../images/icon-heart.png">
                <p class="paragraph">Use.</p>
                <h3 class="title title--med">120% more than the average</h3>
            </div>
        </section>

        <section class="section section-download">
            <div class="section-download__text">
                <h2 class="title title--med title--med--dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
                <div class="divider-top divider-top--section divider-top--white">
                    <p class="paragraph paragraph--dark">20 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <button class="button section-main__button">Download Now</button>
                </div>
            </div>
            <aside class="section-download__aside">
                <img class="section-download__img" src="../images/mock-pdf-sq.jpg">
            </aside>
        </section>

        <div class="section section-divider-img">
            <img src="../images/GettyImages-1138520890@2x.png" class="section-divider-img__img">
        </div>

        <section class="section section-main" id="section-5">
            <div class="section-main__text section-main__text--light">
                <h2 class="title title--dark title--med">DHA-Rich Omega-3.</h2>
                <div class="divider-top divider-top--section">
                    <p class="paragraph paragraph--dark section-main__para">50-70 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in.</p>
                </div>
                <button class="button section-main__button">Read more</button>
                <div class="divider-bottom divider-bottom--section" id="annoying"></div>
            </div>
            <aside class="section-main__aside section-main__aside--light">
                <h3 class="title title--dark title--small">Benefits.</h3>
                <ul class="section-main__list" >
                    <li class="paragraph paragraph--dark paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                    <li class="paragraph paragraph--dark paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                    <li class="paragraph paragraph--dark paragraph--list">• Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </li>
                </ul>
                <div class="divider-bottom divider-bottom--section"></div>
            </aside>
        </section>

        <section class="section section-main-icons section-main-icons--light">
            <div class="section-main-icons__container">
                <img class="section-main-icons__img" src="../images/icon-thumb.png">
                <p class="paragraph paragraph--dark">Grow.</p>
                <h3 class="title title--dark title--med">120% more than the average</h3>
            </div>
            <div class="section-main-icons__container">
                <img class="section-main-icons__img" src="../images/icon-recycle.png">
                <p class="paragraph paragraph--dark">Maintain.</p>
                <h3 class="title title--dark title--med">120% more than the average</h3>
            </div>
            <div class="section-main-icons__container">
                <img class="section-main-icons__img" src="../images/icon-heart.png">
                <p class="paragraph paragraph--dark">Use.</p>
                <h3 class="title title--dark title--med">120% more than the average</h3>
            </div>
        </section>

        <section class="section section-download">
            <div class="section-download__text">
                <h2 class="title title--med title--med--dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
                <div class="divider-top divider-top--section divider-top--white">
                    <p class="paragraph paragraph--dark">20 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <button class="button section-main__button">Download Now</button>
                </div>
            </div>
            <aside class="section-download__aside">
                <img class="section-download__img" src="../images/mock-pdf-sq.jpg">
            </aside>
        </section>

        <section class="section-articles">
            <div class="divider-bottom divider-bottom--right section-articles__divider">
                <h2 class="section-articles__title title title--dark title--large">Articles.</h2>
            </div>
            <div class="section-articles__container">
                <div class="article">
                    <img src="../images/Screen Shot 2019-08-14 at 8.36.27 AM@2x.png" class="article__img">
                    <h3 class="article__title title title--small title--dark divider-bottom divider-bottom--right">Epsum factorial non deposit quid pro quo.</h3>
                    <p class="article__para paragraph paragraph--dark paragraph--small">23/4/19       Research</p>
                    <p class="article__para paragraph paragraph--dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
                    <button class="article__button button">Learn More</button>
                </div>
                <div class="article">
                    <img src="../images/Screen Shot 2019-08-14 at 8.36.27 AM@2x.png" class="article__img">
                    <h3 class="article__title title title--small title--dark divider-bottom divider-bottom--right">Epsum factorial non deposit quid pro quo.</h3>
                    <p class="article__para paragraph paragraph--dark paragraph--small">23/4/19       Research</p>
                    <p class="article__para paragraph paragraph--dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
                    <button class="article__button button">Learn More</button>
                </div>
                <div class="article">
                    <img src="../images/Screen Shot 2019-08-14 at 8.36.27 AM@2x.png" class="article__img">
                    <h3 class="article__title title title--small title--dark divider-bottom divider-bottom--right">Epsum factorial non deposit quid pro quo.</h3>
                    <p class="article__para paragraph paragraph--dark paragraph--small">23/4/19       Research</p>
                    <p class="article__para paragraph paragraph--dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
                    <button class="article__button button">Learn More</button>
                </div>
                <div class="article">
                    <img src="../images/Screen Shot 2019-08-14 at 8.36.27 AM@2x.png" class="article__img">
                    <h3 class="article__title title title--small title--dark divider-bottom divider-bottom--right">Epsum factorial non deposit quid pro quo.</h3>
                    <p class="article__para paragraph paragraph--dark paragraph--small">23/4/19       Research</p>
                    <p class="article__para paragraph paragraph--dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
                    <button class="article__button button">Learn More</button>
                </div>
            </div>
        </section>

        <section class="section section-community">
            <div class="section-community__text">
                <h2 class="title title--med title--med--dark">Join the Smallfood Community</h2>
                <div class="divider-top divider-top--section divider-top--white">
                    <p class="paragraph paragraph--dark">20 words Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
            <div class="form-subscribe">
                <form class="form">
                    <lable class="form__title title title--small title--dark">Email</lable>
                    <input class="form__input" type="text"/> 
                    <div class="form__check">
                        <input class="form__checkbox" type="checkbox"/>
                        <lable class="form__para paragraph paragraph--dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</lable>
                    </div>
                    <button class="button form__button" type="submit">Join the Community</button>
                </form>
            </div>
        </section>



        

    </body>
</html>