* {
  box-sizing: border-box;
}

$color-dark-green: rgba(18, 64, 34, 1);
$color-dark-green-transparent: rgba(18, 64, 34, 0.6);
$color-light-green: #b4c339;
$color-light-grey: #edeeee;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$font-title: 'Poppins', sans-serif;
$font-paragraph: 'Raleway', sans-serif;

$media-tablet: 700px;
$media-computer-small: 1000px;
$media-computer-large: 2000px;

$margin-equal: 0 11.5vw;
$margin-main: 11.5vw;

.background-img-1 {
  background-image: url('../images//main\ bg\ image.png');
  background-size: cover;
  padding: 4rem 0;
}

.background-img-2 {
  background-image: url('../images/bg\ 5.png');
  background-size: cover;
  padding: 0;
}

.background-img-3 {
  background-image: url('../images/bg\ 4.png');
  background-size: cover;
  padding: 4rem 0;
}
