* { box-sizing: border-box}

//colors
$color-dark-green: rgba(18, 64, 34, 1);
$color-dark-green-transparent: rgba(18, 64, 34,0.6);
$color-light-green: #B4C339;
$color-light-grey: #EDEEEE;

//fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$font-title: 'Poppins', sans-serif;
$font-paragraph: 'Raleway', sans-serif;

//media querry sizes
$media-tablet:  700px;
$media-computer-small: 1000px;
$media-computer-large: 2000px;

//margin-padding constants
$margin-equal: 0 11.5vw;
$margin-main: 11.5vw;


//overall layout width
.container {
    width: 77vw;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.divider-top {
    border-top: 4px solid  $color-light-green;
    
    &--left {
        margin-left: $margin-main;
    }

    &--right {
        margin-right: $margin-main;
    }

    &--section {
        margin-right: 3em;
    }

    &--white {
        border-top: 4px solid  #fff;
    }
}

.divider-bottom {
    border-bottom: 4px solid  $color-light-green;
    
    &--left {
        margin-left: $margin-main;
    }

    &--right {
        margin-right: $margin-main;
    }

    &--section {
        margin-left: $margin-main;
        margin-bottom: 3em;
        
    }
}



//background
body {
    background-image: url('../images/main\ bg\ image@2x.png'), url('../images/bg\ 5@2x.png'), ;
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 350%, 400%;
}


//media query
@media(min-width: $media-tablet) {
    body {
        background-size: 200%;
    }
}

@media(min-width: $media-computer-small) {
    body {
        background-size: 100%;
    }
}

