* { box-sizing: border-box}

//colors
$color-dark-green: rgba(18, 64, 34, 1);
$color-dark-green-transparent: rgba(18, 64, 34,0.6);
$color-light-green: #B4C339;

//fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$font-title: 'Poppins', sans-serif;
$font-paragraph: 'Raleway', sans-serif;

//media querry sizes
$media-tablet:  700px;
$media-computer-small: 1000px;
$media-computer-large: 2000px;


//overall layout width
.container {
    width: 77vw;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.divider-right {
    border-top: 4px solid $color-light-green;
    margin-left: 11.5vw;
}

.divider-left {
    border-top: 4px solid $color-light-green;
    margin-right: 11.5vw;
}

.divider--left {
    hr {
        position: relative;
        right:5.75%;
        width: 88.5vw;
    }
}


//background
body {
    background-image: url('../images/main\ bg\ image@2x.png');
    background-repeat: no-repeat;
    background-size: 350%;
}


//media query
@media(min-width: $media-tablet) {
    body {
        background-size: 200%;
    }
}

@media(min-width: $media-computer-small) {
    body {
        background-size: 100%;
    }
}

