@import 'base';

.header__main {
  margin: $margin-equal;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 2rem;

  img {
    height: 100%;
  }
}

@media (min-width: $media-tablet) {
  .header__main {
    height: 3em;
    margin-top: 4rem;
  }
}
