@import 'base';


nav {
    position: sticky;
    background-color: $color-dark-green;
    padding: 0;
    opacity: 0.8;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav__elements {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav__logo {
    height: 8vmin;
    max-height: 100px;
}

.nav__dropdown__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    hr {
        width: 30px;
        border: 2px solid $color-light-green;
        
    }
}

.nav__links {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;

    a {
        display: block;
        padding: 0.8em 2em;
        text-decoration: none;
        color: white;
        background-color: $color-dark-green;
        font-family: $font-title;
        text-align: end;

        &:hover {
            border-bottom: 0.3em solid $color-light-green;
            padding-bottom: 0.5em;
        }
        
        &:focus {
            border-bottom: 0.5em solid $color-light-green;
            padding-bottom: 0.3em;
        }

    }

}

.show {
    display: block;
}

.nav__links--sublink {
    display: none;
}




//media querys
@media (min-width: $media-tablet) {
    .nav__links {
        right: 11.5vw;
    }
}

@media (min-width: $media-computer-small) {
    
    .nav__dropdown__icon{
        display: none;
    }

    .elements__container {
        height: 13vmin;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-end;
    }


    .nav__links {
        opacity: 1;
        position: relative;
        right:0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        a {
            display: inline-block;
            padding: 0 0 1em 0;
            margin-top: 0.2em;
            // transition-duration: 0.2s;

            &:hover {
                border-bottom: 0.2em solid $color-light-green;
                padding-bottom: 0.8em;
            }
    
            &:focus {
                
                border-bottom: 1em solid $color-light-green;
                padding-bottom: 0em;
            }

            
        }

        a + a {
            margin-left: 2vw;
        }
    }

    .nav__links--sublink {
        display: block;
        font-size: 0.7rem;

        a {
            margin-top: 1em;
        }
        a + a {
            margin-left: 3vw;
        }
    }
}


//very large screen
@media (min-width: $media-computer-large) {
    html {
        font-size: 2em;
    }
}