@import 'base';

.section__title {
    margin: 0 1em 0 0;
    font-family: $font-title;
    color: #fff;
    font-weight: bold;
    padding: 3rem 2rem 2rem $margin-main;
}

.section__title--large {
    font-size: 1.825rem;
}

.section__title--med {
    font-size: 1.5625rem;

    &--dark {
        color: $color-dark-green;
    }
}

.section__title--small {
    font-size: 1.25rem;
}

.section__para {
    grid-area: para;
    color: #fff;
    font-family: $font-paragraph;
    font-size: 0.873rem;
    padding: 2em 0 2em 0;
    line-height: 1.5em;
    max-width: 60ch;
    padding: 2em 1em 2em $margin-main;

    &--dark {
        color: $color-dark-green;
    }

    &--list {
        padding: 0.5em 0;
        padding-right: 3em;
    }
}

.section__para--large {
    font-size: 1rem;
}


@media (min-width: $media-computer-small){
    .section__title--large {
        font-size: 2.5rem;
    }
}