@import 'base';

.section-divider-img {
  height: 8rem;
  margin-top: 5rem;
  z-index: 9;
  display: flex;
  justify-content: flex-end;

  &__img {
    margin-right: $margin-main;
    height: 13rem;

    z-index: 9;
  }
}

@media (min-width: $media-tablet) {
  .section-divider-img {
    &__img {
      height: 18rem;
    }
  }
}

@media (min-width: $media-computer-small) {
  .section-divider-img {
    height: 15rem;
    &__img {
      transform: translateX(-5rem);
      height: 25rem;
    }
  }
}
