/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import 'base';

.section-articles {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fff;

  &__divider {
    margin-right: 60vw;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: $margin-main;
  }
}

.article {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: $color-light-grey;

  .divider-bottom--right {
    margin-right: 1rem;
  }

  &__title {
    padding: 1rem 1rem;
    margin: 0;
  }

  &__para {
    padding: 1rem 1rem;
  }

  &__img {
    width: 90%;
  }

  &__button {
    margin: 0 1rem 1rem 1rem;
  }
}

@media (min-width: $media-tablet) {
  .section-articles {
    &__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 3rem $margin-main 0 $margin-main;
    }
  }

  .article + .article {
    margin-left: 2rem;
  }
}
