@import 'base';
@import 'section-1';

#section-2 {
   .divider-bottom {
      display: none;
  }
}

.section-main {
   margin: 3rem $margin-main 3rem 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   &__text {
      background-color: $color-dark-green;
   }

   &__header {
      margin-left: $margin-main;
   }

   &__para {
      margin-left: $margin-main;
      padding-right: 1em;
   }

   &__img {
      width: 90%;
      margin-left: $margin-main;
      margin-top: 3rem;
   }

   &__button {
      margin-left: $margin-main;
      margin-bottom: 2em;
      width: 200px;
   }
   
   &__list {
      padding-bottom: 2em;
   }
}


.section-main__aside {
   background-color: $color-dark-green;
   align-self: end;

   & > * {
      padding-left: $margin-main
   }
}

.section-divider-img {
   height: 35vmin;
   z-index: 9;
   display: flex;
   justify-content: flex-end;

   &__img {
      margin-right: $margin-main;
      height: 55vmin;
      width: 55vmin;
      z-index: 9;
   }
}



@media (min-width: $media-tablet) {
   #section-3, #section-4 {
      .section-main__text {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
   }
   

   .section-main {
      flex-direction: row;
      margin: 3rem $margin-main 0 0;

      &__text {
         width: 60%;
         
         .section__para{
            padding-top: 2em;
         }

         .divider-bottom{
            display: block;
           
         }
         
      }

      &__img {
         height:100%;
         max-width: 35%;
         align-self: center;
         margin-left: 0;
         transform: translateY(10vmin);
      }

      &__aside {
         margin-top: 10vmin;
         max-width: 40%;
         height: 80%;
         & > * {
            padding-left: 2em;
            margin-left: 0;
         }
      }
      
   }
}

@media (min-width: $media-computer-small) {
   .section-main {

      // &__text {
      //    padding-top: 2em;
      // }

      &__header {
         max-width: 20ch;
      }

      &__img {
         height:100%;
         max-width: 30%;
         transform: translateY(10vmin);
         margin-left: 2em;
      }
   }
}

