/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import 'base';

.section-download {
  background-color: $color-light-green;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &__aside {
    padding: 2em $margin-main;
    text-align: center;
  }

  &__img {
    width: 100%;
  }
}

.form-subscribe {
  padding-left: $margin-main;
  padding-right: $margin-main;

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &__check {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 1em;
    }

    &__checkbox {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      height: 30px;
      width: 60px;
      background-color: #fff;
    }

    &__para {
      display: block;
    }

    &__para,
    &__title {
      padding-left: 1em;
      padding-top: 0;
    }

    &__input {
      height: 2rem;
    }

    &__button {
      max-width: 15rem;
    }
  }
}

#section-download-2 {
  margin-top: 0;
}

@media (min-width: $media-tablet) {
  .section-download {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    &__text {
      height: 100%;
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &__aside {
      width: 40%;
      padding: 2em $margin-main 2em 2em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .form-subscribe {
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    .form {
      &__title {
        padding-top: 3rem;
        padding-left: 0;
      }
    }
  }
}

@media (min-width: $media-computer-small) {
  .section-download {
    &__text {
      max-width: 100ch;
    }

    &__aside {
      width: 35%;
    }
  }
}
