@import 'base';

.section-articles {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fff;

  &__divider {
    margin-right: 60vw;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: flex-end;
    margin-left: $margin-main;
  }
}

.article {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $color-light-grey;

  .divider-bottom--right {
    margin-right: 1rem;
  }

  &__title {
    padding: 1rem 1rem;
    margin: 0;
  }

  &__para {
    padding: 1rem 1rem 0 1rem;
  }

  .article__para + .article__para {
    padding-bottom: 1rem;
  }

  &__img {
    width: 90%;
  }

  &__button {
    margin: 0 1rem 1rem 1rem;
    width: 10rem;
  }

  &__see-all {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .button {
      width: 10rem;
      margin-top: 3rem;
      margin-right: 11.5vw;
    }
  }
}

@media (min-width: $media-tablet) {
  .section-articles {
    &__container {
      margin: 3rem $margin-main 0 $margin-main;
    }
  }

  .article + .article {
    margin-left: 2rem;
  }
}
